<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="4.7.1" targetFramework="net48" />
  <package id="UTF.Unknown" version="2.6.0" targetFramework="net48" />
</packages>
